* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 50px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.logo {
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.header button {
    width: 50px;
    flex-shrink: 0;
    font-size: 30px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
}

.bar {
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 10px;
}

.links {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100vh;
    width: 250px;
    background-color: #fff;
}

.link {
    display: flex;
    align-items: center;
    padding: 12px 15px;
    font-weight: 1000;
    text-decoration: none;
    font-size: 15px;
    color: #333;
}
.link.active
{
    color: red;
    background-color: #eee;
}
.link:hover{
    color: red;
    background-color: #eee;
}
.links{
    transform: translateX(-250px);
    transition: 0.5s;
}
.content{
    padding: 10px;
}
.open .links{
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.nav-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(2px);
    visibility: hidden;
    opacity: 0;
    transform: 0.5s;
}
.open .nav-overlay{
    visibility: visible;
    opacity: 1;
}